In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = "98-401-X2021003_English_CSV_data.csv"

# Read the CSV file with 'utf-8' encoding and handle errors with 'latin-1'
try:
    df = pd.read_csv(file_path, encoding='utf-8')
except UnicodeDecodeError:
    df = pd.read_csv(file_path, encoding='latin-1')

In [4]:
columns_to_keep = ['GEO_NAME', 'CHARACTERISTIC_NAME','C1_COUNT_TOTAL', 'C2_COUNT_MEN+', 'C3_COUNT_WOMEN+']

In [5]:
df =df[columns_to_keep]

In [6]:
df.tail(25)

,GEO_NAME,CHARACTERISTIC_NAME,C1_COUNT_TOTAL,C2_COUNT_MEN+,C3_COUNT_WOMEN+
3049304,"Yorkton, City (CY)",Public transit,10.0,0.0,0.0
3049305,"Yorkton, City (CY)",Walked,315.0,125.0,195.0
3049306,"Yorkton, City (CY)",Bicycle,35.0,15.0,20.0
3049307,"Yorkton, City (CY)",Other method,120.0,50.0,70.0
3049308,"Yorkton, City (CY)",Total - Commuting duration for the employed la...,7005.0,3575.0,3435.0
3049309,"Yorkton, City (CY)",Less than 15 minutes,5300.0,2485.0,2810.0
3049310,"Yorkton, City (CY)",15 to 29 minutes,855.0,490.0,365.0
3049311,"Yorkton, City (CY)",30 to 44 minutes,325.0,175.0,145.0
3049312,"Yorkton, City (CY)",45 to 59 minutes,140.0,100.0,40.0
3049313,"Yorkton, City (CY)",60 minutes and over,390.0,315.0,75.0
3049314,"Yorkton, City (CY)",Total - Time leaving for work for the employed...,7005.0,3575.0,3435.0
3049315,"Yorkton, City (CY)",Between 5 a.m. and 5:59 a.m.,435.0,325.0,115.0
3049316,"Yorkton, City (CY)",Between 6 a.m. and 6:59 a.m.,1055.0,630.0,425.0
3049317,"Yorkton, City (CY)",Between 7 a.m. and 7:59 a.m.,2215.0,1090.0,1120.0
3049318,"Yorkton, City (CY)",Between 8 a.m. and 8:59 a.m.,1355.0,575.0,780.0
3049319,"Yorkton, City (CY)",Between 9 a.m. and 11:59 a.m.,795.0,330.0,460.0
3049320,"Yorkton, City (CY)",Between 12 p.m. and 4:59 a.m.,1150.0,620.0,530.0
3049321,"Yorkton, City (CY)",Total - Eligibility for instruction in the min...,3615.0,1835.0,1775.0
3049322,"Yorkton, City (CY)",Children eligible for instruction in the min...,85.0,45.0,40.0
3049323,"Yorkton, City (CY)",Children not eligible for instruction in the...,3530.0,1795.0,1735.0
3049324,"Yorkton, City (CY)",Total - Eligibility and instruction in the min...,2660.0,1350.0,1310.0
3049325,"Yorkton, City (CY)",Children eligible for instruction in the min...,65.0,35.0,35.0
3049326,"Yorkton, City (CY)",Eligible children who have been instructed...,30.0,15.0,15.0
3049327,"Yorkton, City (CY)",Eligible children who have not been instru...,35.0,20.0,20.0
3049328,"Yorkton, City (CY)",Children not eligible for instruction in the...,2595.0,1315.0,1280.0

In [7]:
df['Level'] = (df['CHARACTERISTIC_NAME'].apply(len)-df['CHARACTERISTIC_NAME'].str.strip().apply(len))/2

In [8]:
max_level = int(df['Level'].max())

In [9]:
level_val=df['Level'].unique()

In [10]:
level_list =[]

In [11]:
level_list = ["Lvl-" + str(i) for i in range(0, max_level + 1)]

In [12]:
level_list

['Lvl-0',
 'Lvl-1',
 'Lvl-2',
 'Lvl-3',
 'Lvl-4',
 'Lvl-5',
 'Lvl-6',
 'Lvl-7',
 'Lvl-8']

In [13]:
for column_name in level_list:
        df[column_name] = column_name

In [14]:
for column_name in level_list:
        df[column_name] = np.nan

In [15]:
df

,GEO_NAME,CHARACTERISTIC_NAME,C1_COUNT_TOTAL,C2_COUNT_MEN+,C3_COUNT_WOMEN+,Level,Lvl-0,Lvl-1,Lvl-2,Lvl-3,Lvl-4,Lvl-5,Lvl-6,Lvl-7,Lvl-8
0,Abbotsford - Mission,"Population, 2021",195726.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Abbotsford - Mission,"Population, 2016",180518.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abbotsford - Mission,"Population percentage change, 2016 to 2021",8.4,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Abbotsford - Mission,Total private dwellings,70648.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Abbotsford - Mission,Private dwellings occupied by usual residents,67613.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3049324,"Yorkton, City (CY)",Total - Eligibility and instruction in the min...,2660.0,1350.0,1310.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3049325,"Yorkton, City (CY)",Children eligible for instruction in the min...,65.0,35.0,35.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3049326,"Yorkton, City (CY)",Eligible children who have been instructed...,30.0,15.0,15.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3049327,"Yorkton, City (CY)",Eligible children who have not been instru...,35.0,20.0,20.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3049328,"Yorkton, City (CY)",Children not eligible for instruction in the...,2595.0,1315.0,1280.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df_play = df.copy()

In [21]:
# Iterate through the DataFrame rows
for index, row in df_play.iterrows():

    for level_column in level_list:
            if row['Level'] == int(level_column.split('-')[1]):
                characteristic_name = row['CHARACTERISTIC_NAME'].strip()
                df_play.at[index, level_column] = characteristic_name

In [23]:
# iterate each level column and update the NaN ones based on the hierarchy
level_val=df['Level'].unique()
for i in level_val:
    i = int(i)
    last_characteristic_name = ''
    # Iterate through the DataFrame rows
    for index, row in df_play.iterrows():
        if pd.notna(row[level_list[i]]):
            last_characteristic_name = row['CHARACTERISTIC_NAME'].strip()
        elif row['Level'] >= i:
            # Update the 'Lvl-x' column with the last_characteristic_name until the next 0 occurs
            df_play.at[index, level_list[i]] = last_characteristic_name

In [25]:
df_play.to_csv("Output/census_data_with_levels.csv", index=False)

## Seperator

In [26]:
#add the location of the file
df_census = pd.read_csv("Output/census_data_with_levels.csv", sep=',') 
df_census.head(10)

,GEO_NAME,CHARACTERISTIC_NAME,C1_COUNT_TOTAL,C2_COUNT_MEN+,C3_COUNT_WOMEN+,Level,Lvl-0,Lvl-1,Lvl-2,Lvl-3,Lvl-4,Lvl-5,Lvl-6,Lvl-7,Lvl-8
0,Abbotsford - Mission,"Population, 2021",195726.00,NaN,NaN,0.0,"Population, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Abbotsford - Mission,"Population, 2016",180518.00,NaN,NaN,0.0,"Population, 2016",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abbotsford - Mission,"Population percentage change, 2016 to 2021",8.40,NaN,NaN,0.0,"Population percentage change, 2016 to 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Abbotsford - Mission,Total private dwellings,70648.00,NaN,NaN,0.0,Total private dwellings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Abbotsford - Mission,Private dwellings occupied by usual residents,67613.00,NaN,NaN,0.0,Private dwellings occupied by usual residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Abbotsford - Mission,Population density per square kilometre,322.60,NaN,NaN,0.0,Population density per square kilometre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Abbotsford - Mission,Land area in square kilometres,606.72,NaN,NaN,0.0,Land area in square kilometres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Abbotsford - Mission,Total - Age groups of the population - 100% data,195720.00,97480.0,98245.0,0.0,Total - Age groups of the population - 100% data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Abbotsford - Mission,0 to 14 years,34560.00,17860.0,16695.0,1.0,Total - Age groups of the population - 100% data,0 to 14 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Abbotsford - Mission,0 to 4 years,10425.00,5360.0,5065.0,2.0,Total - Age groups of the population - 100% data,0 to 14 years,0 to 4 years,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df_census['Lvl-0'].unique()

array(['Population, 2021', 'Population, 2016',
       'Population percentage change, 2016 to 2021',
       'Total private dwellings',
       'Private dwellings occupied by usual residents',
       'Population density per square kilometre',
       'Land area in square kilometres',
       'Total - Age groups of the population - 100% data',
       'Total - Distribution (%) of the population by broad age groups - 100% data',
       'Average age of the population', 'Median age of the population',
       'Total - Occupied private dwellings by structural type of dwelling - 100% data',
       'Total - Private households by household size - 100% data',
       'Number of persons in private households',
       'Average household size',
       'Total - Marital status for the total population aged 15 years and over - 100% data',
       'Total - Census families in private households by family size - 100% data',
       'Average size of census families',
       'Average number of children in census families with children',
       'Total number of census families in private households - 100% data',
       'Total - Persons in private households - 100% data',
       'Total - Household type - 100% data',
       'Total - Income statistics in 2020 for the population aged 15 years and over in private households - 100% data',
       'Total - Income statistics in 2020 for the population aged 15 years and over in private households - 25% sample data',
       'Total - Employment income statistics in 2020 for the population aged 15 years and over in private households - 25% sample data',
       'Composition of total income in 2020 of the population aged 15 years and over in private households (%) - 25% sample data',
       'Total - Total income groups in 2020 for the population aged 15 years and over in private households - 100% data',
       'Total - After-tax income groups in 2020 for the population aged 15 years and over in private households - 100% data',
       'Total - Employment income groups in 2020 for the population aged 15 years and over in private households - 100% data',
       'Total - Income statistics in 2019 for the population aged 15 years and over in private households - 100% data',
       'Total - Income statistics in 2019 for the population aged 15 years and over in private households - 25% sample data',
       'Total - Employment income statistics in 2019 for the population aged 15 years and over in private households - 25% sample data',
       'Composition of total income in 2019 of the population aged 15 years and over in private households (%) - 25% sample data',
       'Total - Income statistics for private households - 100% data',
       'Total - Income statistics for private households - 25% sample data',
       'Total - Household total income groups in 2020 for private households - 100% data',
       'Total - Household after-tax income groups in 2020 for private households - 100% data',
       'Total - Income statistics for economic families in private households - 100% data',
       'Total - Income statistics for couple-only economic families in private households - 100% data',
       'Total - Income statistics for couple-with-children economic families in private households - 100% data',
       'Total - Income statistics for one-parent economic families in private households - 100% data',
       'Total - Income statistics for persons aged 15 years and over not in economic families in private households - 100% data',
       'Total - Income statistics for economic families in private households - 25% sample data',
       'Total - Income statistics for couple-only economic families in private households - 25% sample data',
       'Total - Income statistics for couple-with-children economic families in private households - 25% sample data',
       'Total - Income statistics for one-parent economic families in private households - 25% sample data',
       'Total - Income statistics for persons aged 15 years and over not in economic families in private households - 25% sample data',
       'Total - LIM low-income status in 2020 for the population in private households - 100% data',
       'In low income based on the Low-income measure, after tax (LIM-AT)',
       'Prevalence of low income based on the Low-income measure, after tax (LIM-AT) (%)',
       'Total - LICO low-income status in 2020 for the population in private households to whom the low-income concept is applicable - 100% data',
       'In low income based on the Low-income cut-offs, after tax (LICO-AT)',
       'Prevalence of low income based on the Low-income cut-offs, after tax (LICO-AT) (%)',
       'Total - Adjusted after-tax economic family income decile group for the population in private households - 100% data',
       'Total - Inequality measures for the population in private households - 100% data',
       'Total - Knowledge of official languages for the total population excluding institutional residents - 100% data',
       'Total - First official language spoken for the total population excluding institutional residents - 100% data',
       'Total - Mother tongue for the total population excluding institutional residents - 100% data',
       'Total - All languages spoken at home for the total population excluding institutional residents - 100% data',
       'Total - Language spoken most often at home for the total population excluding institutional residents - 100% data',
       'Total - Other language(s) spoken regularly at home for the total population excluding institutional residents - 100% data',
       'Total - Knowledge of languages for the population in private households - 25% sample data',
       'Total - Indigenous identity for the population in private households - 25% sample data',
       'Total - Registered or Treaty Indian status for the population in private households - 25% sample data',
       'Total - Private households by tenure - 25% sample data',
       'Total - Occupied private dwellings by condominium status - 25% sample data',
       'Total - Occupied private dwellings by number of bedrooms - 25% sample data',
       'Total - Occupied private dwellings by number of rooms - 25% sample data',
       'Average number of rooms per dwelling',
       'Total - Private households by number of persons per room - 25% sample data',
       'Total - Private households by housing suitability - 25% sample data',
       'Total - Occupied private dwellings by period of construction - 25% sample data',
       'Total - Occupied private dwellings by dwelling condition - 25% sample data',
       'Total - Private households by number of household maintainers - 25% sample data',
       'Total - Private households by age of primary household maintainers - 25% sample data',
       'Total - Owner and tenant households with household total income greater than zero, in non-farm, non-reserve private dwellings by shelter-cost-to-income ratio - 25% sample data',
       'Total - Occupied private dwellings by housing indicators - 25% sample data',
       'Total - Owner and tenant households with household total income greater than zero and shelter-cost-to-income ratio less than 100%, in non-farm, non-reserve private dwellings - 25% sample data',
       'Total - Owner households in non-farm, non-reserve private dwellings - 25% sample data',
       'Total - Tenant households in non-farm, non-reserve private dwellings - 25% sample data',
       'Total - Households living in a dwelling provided by the local government, First Nation or Indian band in non-farm private dwellings - 25% sample data',
       'Total - Indigenous ancestry for the population in private households - 25% sample data',
       'Total - Citizenship for the population in private households - 25% sample data',
       'Total - Immigrant status and period of immigration for the population in private households - 25% sample data',
       'Total - Age at immigration for the immigrant population in private households - 25% sample data',
       'Total - Place of birth for the immigrant population in private households - 25% sample data',
       'Total - Place of birth for the recent immigrant population in private households - 25% sample data',
       'Total - Generation status for the population in private households - 25% sample data',
       'Total - Admission category and applicant type for the immigrant population in private households who were admitted between 1980 and 2021 - 25% sample data',
       'Total - Pre-admission experience for the immigrant population in private households who were admitted between 1980 and 2021 - 25% sample data',
       'Total - Visible minority for the population in private households - 25% sample data',
       'Total - Ethnic or cultural origin for the population in private households - 25% sample data',
       'Total - Religion for the population in private households - 25% sample data',
       'Total - Mobility status 1 year ago - 25% sample data',
       'Total - Mobility status 5 years ago - 25% sample data',
       'Total - Secondary (high) school diploma or equivalency certificate for the population aged 15 years and over in private households - 25% sample data',
       'Total - Secondary (high) school diploma or equivalency certificate for the population aged 25 to 64 years in private households - 25% sample data',
       'Total - Highest certificate, diploma or degree for the population aged 15 years and over in private households - 25% sample data',
       'Total - Highest certificate, diploma or degree for the population aged 25 to 64 years in private households - 25% sample data',
       'Total - Major field of study - Classification of Instructional Programs (CIP) 2021 for the population aged 15 years and over in private households - 25% sample data',
       'Total - Major field of study - Classification of Instructional Programs (CIP) 2021 for the population aged 25 to 64 years in private households - 25% sample data',
       'Total - Location of study compared with province or territory of residence for the population aged 25 to 64 years in private households - 25% sample data',
       'Total - Population aged 15 years and over by labour force status - 25% sample data',
       'Participation rate', 'Employment rate', 'Unemployment rate',
       'Total - Population aged 15 years and over by work activity during the reference year - 25% sample data',
       'Total - Labour force aged 15 years and over by class of worker including job permanency - 25% sample data',
       'Total - Labour force aged 15 years and over by occupation - Broad category - National Occupational Classification (NOC) 2021 - 25% sample data',
       'Total - Labour force aged 15 years and over by industry - Sectors - North American Industry Classification System (NAICS) 2017 - 25% sample data',
       'Total - All languages used at work for the population in private households aged 15 years and over who worked since January 1, 2020 - 25% sample data',
       'Total - Language used most often at work for the population aged 15 years and over who worked since January 1, 2020, in private households, 2021 Census - 25% sample data',
       'Total - Other language(s) used regularly at work for the population in private households aged 15 years and over who worked since January 1, 2020 - 25% sample data',
       'Total - Place of work status for the employed labour force aged 15 years and over - 25% sample data',
       'Total - Commuting destination for the employed labour force aged 15 years and over with a usual place of work - 25% sample data',
       'Total - Main mode of commuting for the employed labour force aged 15 years and over with a usual place of work or no fixed workplace address - 25% sample data',
       'Total - Commuting duration for the employed labour force aged 15 years and over with a usual place of work or no fixed workplace address - 25% sample data',
       'Total - Time leaving for work for the employed labour force aged 15 years and over with a usual place of work or no fixed workplace address - 25% sample data',
       'Total - Eligibility for instruction in the minority official language for the population in private households born in 2003 or later - 100% data',
       'Total - Eligibility and instruction in the minority official language, for the population in private households born between 2003 and 2015 (inclusive) - 100% data'],
      dtype=object)

In [46]:
vis_minority_level = df_census[df_census['Lvl-0']=='Total - Visible minority for the population in private households - 25% sample data']
pivot_vis_minority = vis_minority_level.pivot_table(index = 'GEO_NAME', columns='Lvl-1', values='C1_COUNT_TOTAL')
pivot_vis_minority.sample(5)

Lvl-1,Not a visible minority,Total visible minority population
GEO_NAME,,
"Fraser-Fort George C, Regional district electoral area (RDA)",3510.0,12.307692
"Maugerville, Parish (P)",1740.0,4.615385
"High River, Town (T)",11635.0,381.153846
"Grand Falls-Windsor, Town (T)",13220.0,58.076923
"Comox Valley A, Regional district electoral area (RDA)",7490.0,51.153846

In [47]:
indigen_level = df_census[df_census['Lvl-0']=='Total - Indigenous ancestry for the population in private households - 25% sample data']
pivot_indigen = indigen_level.pivot_table(index = 'GEO_NAME', columns='Lvl-1', values='C1_COUNT_TOTAL')
pivot_indigen.sample(5)

Lvl-1,Indigenous ancestry (only),Indigenous and non-Indigenous ancestries,Non-Indigenous ancestry only
GEO_NAME,,,
"Essex, Town (T)",60.0,299.0,19460.0
"Warren Grove, Rural municipality (RM)",0.0,0.0,375.0
Essa,75.0,278.0,21600.0
"La Pêche, Municipalité (MÉ)",122.5,178.5,7485.0
"Burrard Inlet 3, Indian reserve (IRI)",37.5,60.0,2045.0

In [50]:
citiz_level = df_census[df_census['Lvl-0']=='Total - Citizenship for the population in private households - 25% sample data']
pivot_citiz = citiz_level.pivot_table(index = 'GEO_NAME', columns='Lvl-1', values='C1_COUNT_TOTAL')
pivot_citiz.sample(5)

Lvl-1,Canadian citizens,Not Canadian citizens
GEO_NAME,,
"Newmarket, Town (T)",52676.666667,7600.0
"Saint-Dominique-du-Rosaire, Municipalité (MÉ)",271.666667,0.0
"Ascot Corner, Municipalité (MÉ)",2213.333333,35.0
"Granby, Ville (V)",43210.000000,1775.0
"Bright, Parish (P)",2193.333333,25.0

In [51]:
immmig_level = df_census[df_census['Lvl-0']=='Total - Immigrant status and period of immigration for the population in private households - 25% sample data']
pivot_immmig = immmig_level.pivot_table(index = 'GEO_NAME', columns='Lvl-1', values='C1_COUNT_TOTAL')
pivot_immmig.sample(5)

Lvl-1,Immigrants,Non-immigrants,Non-permanent residents
GEO_NAME,,,
"Juan de Fuca (Part 1), Regional district electoral area (RDA)",221.250,4280.0,0.0
"Yellowknife, City (CY)",976.250,16300.0,345.0
"Bathurst, Parish (P)",16.875,4670.0,0.0
"Aberdeen, Town (T)",11.250,630.0,0.0
"Greater Sudbury / Grand Sudbury, City (CV)",2806.250,149620.0,3555.0

In [52]:
immmigage_level = df_census[df_census['Lvl-0']=='Total - Age at immigration for the immigrant population in private households - 25% sample data']
pivot_immmigage = immmigage_level.pivot_table(index = 'GEO_NAME', columns='Lvl-1', values='C1_COUNT_TOTAL')
pivot_immmigage.sample(5)

Lvl-1,15 to 24 years,25 to 44 years,45 years and over,5 to 14 years,Under 5 years
GEO_NAME,,,,,
"Léry, Ville (V)",35.0,75.0,15.0,30.0,30.0
"Gore, Canton (municipalité de) (CT)",45.0,90.0,0.0,10.0,10.0
"Niagara-on-the-Lake, Town (T)",1050.0,2045.0,375.0,940.0,445.0
"Saint-Marc-de-Figuery, Paroisse (municipalité de) (PE)",0.0,0.0,0.0,0.0,0.0
"South Frontenac, Township (TP)",245.0,290.0,55.0,385.0,205.0

In [53]:
immmigplaceofbirth_level = df_census[df_census['Lvl-0']=='Total - Place of birth for the immigrant population in private households - 25% sample data']
pivot_immmigplaceofbirth = immmigplaceofbirth_level.pivot_table(index = 'GEO_NAME', columns='Lvl-1', values='C1_COUNT_TOTAL')
pivot_immmigplaceofbirth.sample(5)

Lvl-1,Africa,Americas,Asia,Europe,Oceania and other places of birth
GEO_NAME,,,,,
"Saint-Mathieu, Municipalité (MÉ)",0.000000,2.916667,0.000000,3.823529,0.0
Dawson Creek,14.545455,45.416667,87.777778,39.705882,10.0
Brantford,185.454545,535.000000,798.888889,1026.470588,90.0
"Surrey, City (CY)",1621.363636,2085.416667,21929.166667,2680.294118,9300.0
"Candiac, Ville (V)",138.636364,142.083333,134.722222,105.000000,0.0

In [54]:
immmigethnic_level = df_census[df_census['Lvl-0']== 'Total - Ethnic or cultural origin for the population in private households - 25% sample data']
pivot_immmigethnic = immmigethnic_level.pivot_table(index = 'GEO_NAME', columns='Lvl-1', values='C1_COUNT_TOTAL')
pivot_immmigethnic.sample(5)

Lvl-1,Abenaki,Acadian,Afghan,African American,African Canadian,African Caribbean,African Nova Scotian,"African, n.o.s.","Akan, n.o.s.",Albanian,...,Vincentian,Welsh,"West Indian, n.o.s.","West or Central Asian or Middle Eastern, n.o.s.","Western European, n.o.s.",Woodland Cree,Yemeni,Yoruba,"Yugoslavian, n.o.s.",Zimbabwean
GEO_NAME,,,,,,,,,,,,,,,,,,,,,
"Coverdale, Parish (P)",0.0,390.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,75.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Champlain, Municipalité (MÉ)",30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Toronto,155.0,7360.0,43075.0,8070.0,12435.0,32995.0,1035.0,95125.0,2875.0,20205.0,...,7015.0,47075.0,33275.0,20860.0,4290.0,30.0,2925.0,11980.0,5325.0,1640.0
"Saint-Placide, Municipalité (MÉ)",0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Tsussie 6, Indian reserve (IRI)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0