In [62]:
import pandas as pd
import numpy as np
import chardet

In [63]:
file_path = "98-401-X2021003_English_CSV_data.csv"


# Read the CSV file with 'utf-8' encoding and handle errors with 'latin-1'
try:
    df = pd.read_csv(file_path, encoding='utf-8')
except UnicodeDecodeError:
    df = pd.read_csv(file_path, encoding='latin-1')

In [3]:
columns_to_keep = ['ALT_GEO_CODE','GEO_NAME', 'CHARACTERISTIC_NAME','C1_COUNT_TOTAL', 'C2_COUNT_MEN+', 'C3_COUNT_WOMEN+']

In [4]:
df =df[columns_to_keep]

In [5]:
df.tail(25)

,ALT_GEO_CODE,GEO_NAME,CHARACTERISTIC_NAME,C1_COUNT_TOTAL,C2_COUNT_MEN+,C3_COUNT_WOMEN+
3049304,4709012,"Yorkton, City (CY)",Public transit,10.0,0.0,0.0
3049305,4709012,"Yorkton, City (CY)",Walked,315.0,125.0,195.0
3049306,4709012,"Yorkton, City (CY)",Bicycle,35.0,15.0,20.0
3049307,4709012,"Yorkton, City (CY)",Other method,120.0,50.0,70.0
3049308,4709012,"Yorkton, City (CY)",Total - Commuting duration for the employed la...,7005.0,3575.0,3435.0
3049309,4709012,"Yorkton, City (CY)",Less than 15 minutes,5300.0,2485.0,2810.0
3049310,4709012,"Yorkton, City (CY)",15 to 29 minutes,855.0,490.0,365.0
3049311,4709012,"Yorkton, City (CY)",30 to 44 minutes,325.0,175.0,145.0
3049312,4709012,"Yorkton, City (CY)",45 to 59 minutes,140.0,100.0,40.0
3049313,4709012,"Yorkton, City (CY)",60 minutes and over,390.0,315.0,75.0
3049314,4709012,"Yorkton, City (CY)",Total - Time leaving for work for the employed...,7005.0,3575.0,3435.0
3049315,4709012,"Yorkton, City (CY)",Between 5 a.m. and 5:59 a.m.,435.0,325.0,115.0
3049316,4709012,"Yorkton, City (CY)",Between 6 a.m. and 6:59 a.m.,1055.0,630.0,425.0
3049317,4709012,"Yorkton, City (CY)",Between 7 a.m. and 7:59 a.m.,2215.0,1090.0,1120.0
3049318,4709012,"Yorkton, City (CY)",Between 8 a.m. and 8:59 a.m.,1355.0,575.0,780.0
3049319,4709012,"Yorkton, City (CY)",Between 9 a.m. and 11:59 a.m.,795.0,330.0,460.0
3049320,4709012,"Yorkton, City (CY)",Between 12 p.m. and 4:59 a.m.,1150.0,620.0,530.0
3049321,4709012,"Yorkton, City (CY)",Total - Eligibility for instruction in the min...,3615.0,1835.0,1775.0
3049322,4709012,"Yorkton, City (CY)",Children eligible for instruction in the min...,85.0,45.0,40.0
3049323,4709012,"Yorkton, City (CY)",Children not eligible for instruction in the...,3530.0,1795.0,1735.0
3049324,4709012,"Yorkton, City (CY)",Total - Eligibility and instruction in the min...,2660.0,1350.0,1310.0
3049325,4709012,"Yorkton, City (CY)",Children eligible for instruction in the min...,65.0,35.0,35.0
3049326,4709012,"Yorkton, City (CY)",Eligible children who have been instructed...,30.0,15.0,15.0
3049327,4709012,"Yorkton, City (CY)",Eligible children who have not been instru...,35.0,20.0,20.0
3049328,4709012,"Yorkton, City (CY)",Children not eligible for instruction in the...,2595.0,1315.0,1280.0

In [6]:
df['Level'] = (df['CHARACTERISTIC_NAME'].apply(len)-df['CHARACTERISTIC_NAME'].str.strip().apply(len))/2

In [7]:
max_level = int(df['Level'].max())

In [8]:
level_val=df['Level'].unique()

In [9]:
level_list =[]

In [10]:
level_list = ["Lvl-" + str(i) for i in range(0, max_level + 1)]

In [11]:
level_list

['Lvl-0',
 'Lvl-1',
 'Lvl-2',
 'Lvl-3',
 'Lvl-4',
 'Lvl-5',
 'Lvl-6',
 'Lvl-7',
 'Lvl-8']

In [12]:
for column_name in level_list:
        df[column_name] = column_name

In [13]:
for column_name in level_list:
        df[column_name] = np.nan

In [14]:
df

,ALT_GEO_CODE,GEO_NAME,CHARACTERISTIC_NAME,C1_COUNT_TOTAL,C2_COUNT_MEN+,C3_COUNT_WOMEN+,Level,Lvl-0,Lvl-1,Lvl-2,Lvl-3,Lvl-4,Lvl-5,Lvl-6,Lvl-7,Lvl-8
0,932,Abbotsford - Mission,"Population, 2021",195726.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,932,Abbotsford - Mission,"Population, 2016",180518.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,932,Abbotsford - Mission,"Population percentage change, 2016 to 2021",8.4,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,932,Abbotsford - Mission,Total private dwellings,70648.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,932,Abbotsford - Mission,Private dwellings occupied by usual residents,67613.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3049324,4709012,"Yorkton, City (CY)",Total - Eligibility and instruction in the min...,2660.0,1350.0,1310.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3049325,4709012,"Yorkton, City (CY)",Children eligible for instruction in the min...,65.0,35.0,35.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3049326,4709012,"Yorkton, City (CY)",Eligible children who have been instructed...,30.0,15.0,15.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3049327,4709012,"Yorkton, City (CY)",Eligible children who have not been instru...,35.0,20.0,20.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3049328,4709012,"Yorkton, City (CY)",Children not eligible for instruction in the...,2595.0,1315.0,1280.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_play = df.copy()

In [16]:
# Iterate through the DataFrame rows
for index, row in df_play.iterrows():

    for level_column in level_list:
            if row['Level'] == int(level_column.split('-')[1]):
                characteristic_name = row['CHARACTERISTIC_NAME'].strip()
                df_play.at[index, level_column] = characteristic_name

In [17]:
# iterate each level column and update the NaN ones based on the hierarchy
level_val=df['Level'].unique()
for i in level_val:
    i = int(i)
    last_characteristic_name = ''
    # Iterate through the DataFrame rows
    for index, row in df_play.iterrows():
        if pd.notna(row[level_list[i]]):
            last_characteristic_name = row['CHARACTERISTIC_NAME'].strip()
        elif row['Level'] >= i:
            # Update the 'Lvl-x' column with the last_characteristic_name until the next 0 occurs
            df_play.at[index, level_list[i]] = last_characteristic_name

In [18]:
df_play.to_csv("Output/census_data_with_levels.csv", index=False)

## Seperator

In [19]:
#add the location of the file
df_census = pd.read_csv("Output/census_data_with_levels.csv", sep=',') 
df_census.head(10)

,ALT_GEO_CODE,GEO_NAME,CHARACTERISTIC_NAME,C1_COUNT_TOTAL,C2_COUNT_MEN+,C3_COUNT_WOMEN+,Level,Lvl-0,Lvl-1,Lvl-2,Lvl-3,Lvl-4,Lvl-5,Lvl-6,Lvl-7,Lvl-8
0,932,Abbotsford - Mission,"Population, 2021",195726.00,NaN,NaN,0.0,"Population, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,932,Abbotsford - Mission,"Population, 2016",180518.00,NaN,NaN,0.0,"Population, 2016",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,932,Abbotsford - Mission,"Population percentage change, 2016 to 2021",8.40,NaN,NaN,0.0,"Population percentage change, 2016 to 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,932,Abbotsford - Mission,Total private dwellings,70648.00,NaN,NaN,0.0,Total private dwellings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,932,Abbotsford - Mission,Private dwellings occupied by usual residents,67613.00,NaN,NaN,0.0,Private dwellings occupied by usual residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,932,Abbotsford - Mission,Population density per square kilometre,322.60,NaN,NaN,0.0,Population density per square kilometre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,932,Abbotsford - Mission,Land area in square kilometres,606.72,NaN,NaN,0.0,Land area in square kilometres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,932,Abbotsford - Mission,Total - Age groups of the population - 100% data,195720.00,97480.0,98245.0,0.0,Total - Age groups of the population - 100% data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,932,Abbotsford - Mission,0 to 14 years,34560.00,17860.0,16695.0,1.0,Total - Age groups of the population - 100% data,0 to 14 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,932,Abbotsford - Mission,0 to 4 years,10425.00,5360.0,5065.0,2.0,Total - Age groups of the population - 100% data,0 to 14 years,0 to 4 years,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df_census['Lvl-0'].unique()

array(['Population, 2021', 'Population, 2016',
       'Population percentage change, 2016 to 2021',
       'Total private dwellings',
       'Private dwellings occupied by usual residents',
       'Population density per square kilometre',
       'Land area in square kilometres',
       'Total - Age groups of the population - 100% data',
       'Total - Distribution (%) of the population by broad age groups - 100% data',
       'Average age of the population', 'Median age of the population',
       'Total - Occupied private dwellings by structural type of dwelling - 100% data',
       'Total - Private households by household size - 100% data',
       'Number of persons in private households',
       'Average household size',
       'Total - Marital status for the total population aged 15 years and over - 100% data',
       'Total - Census families in private households by family size - 100% data',
       'Average size of census families',
       'Average number of children in census families with children',
       'Total number of census families in private households - 100% data',
       'Total - Persons in private households - 100% data',
       'Total - Household type - 100% data',
       'Total - Income statistics in 2020 for the population aged 15 years and over in private households - 100% data',
       'Total - Income statistics in 2020 for the population aged 15 years and over in private households - 25% sample data',
       'Total - Employment income statistics in 2020 for the population aged 15 years and over in private households - 25% sample data',
       'Composition of total income in 2020 of the population aged 15 years and over in private households (%) - 25% sample data',
       'Total - Total income groups in 2020 for the population aged 15 years and over in private households - 100% data',
       'Total - After-tax income groups in 2020 for the population aged 15 years and over in private households - 100% data',
       'Total - Employment income groups in 2020 for the population aged 15 years and over in private households - 100% data',
       'Total - Income statistics in 2019 for the population aged 15 years and over in private households - 100% data',
       'Total - Income statistics in 2019 for the population aged 15 years and over in private households - 25% sample data',
       'Total - Employment income statistics in 2019 for the population aged 15 years and over in private households - 25% sample data',
       'Composition of total income in 2019 of the population aged 15 years and over in private households (%) - 25% sample data',
       'Total - Income statistics for private households - 100% data',
       'Total - Income statistics for private households - 25% sample data',
       'Total - Household total income groups in 2020 for private households - 100% data',
       'Total - Household after-tax income groups in 2020 for private households - 100% data',
       'Total - Income statistics for economic families in private households - 100% data',
       'Total - Income statistics for couple-only economic families in private households - 100% data',
       'Total - Income statistics for couple-with-children economic families in private households - 100% data',
       'Total - Income statistics for one-parent economic families in private households - 100% data',
       'Total - Income statistics for persons aged 15 years and over not in economic families in private households - 100% data',
       'Total - Income statistics for economic families in private households - 25% sample data',
       'Total - Income statistics for couple-only economic families in private households - 25% sample data',
       'Total - Income statistics for couple-with-children economic families in private households - 25% sample data',
       'Total - Income statistics for one-parent economic families in private households - 25% sample data',
       'Total - Income statistics for persons aged 15 years and over not in economic families in private households - 25% sample data',
       'Total - LIM low-income status in 2020 for the population in private households - 100% data',
       'In low income based on the Low-income measure, after tax (LIM-AT)',
       'Prevalence of low income based on the Low-income measure, after tax (LIM-AT) (%)',
       'Total - LICO low-income status in 2020 for the population in private households to whom the low-income concept is applicable - 100% data',
       'In low income based on the Low-income cut-offs, after tax (LICO-AT)',
       'Prevalence of low income based on the Low-income cut-offs, after tax (LICO-AT) (%)',
       'Total - Adjusted after-tax economic family income decile group for the population in private households - 100% data',
       'Total - Inequality measures for the population in private households - 100% data',
       'Total - Knowledge of official languages for the total population excluding institutional residents - 100% data',
       'Total - First official language spoken for the total population excluding institutional residents - 100% data',
       'Total - Mother tongue for the total population excluding institutional residents - 100% data',
       'Total - All languages spoken at home for the total population excluding institutional residents - 100% data',
       'Total - Language spoken most often at home for the total population excluding institutional residents - 100% data',
       'Total - Other language(s) spoken regularly at home for the total population excluding institutional residents - 100% data',
       'Total - Knowledge of languages for the population in private households - 25% sample data',
       'Total - Indigenous identity for the population in private households - 25% sample data',
       'Total - Registered or Treaty Indian status for the population in private households - 25% sample data',
       'Total - Private households by tenure - 25% sample data',
       'Total - Occupied private dwellings by condominium status - 25% sample data',
       'Total - Occupied private dwellings by number of bedrooms - 25% sample data',
       'Total - Occupied private dwellings by number of rooms - 25% sample data',
       'Average number of rooms per dwelling',
       'Total - Private households by number of persons per room - 25% sample data',
       'Total - Private households by housing suitability - 25% sample data',
       'Total - Occupied private dwellings by period of construction - 25% sample data',
       'Total - Occupied private dwellings by dwelling condition - 25% sample data',
       'Total - Private households by number of household maintainers - 25% sample data',
       'Total - Private households by age of primary household maintainers - 25% sample data',
       'Total - Owner and tenant households with household total income greater than zero, in non-farm, non-reserve private dwellings by shelter-cost-to-income ratio - 25% sample data',
       'Total - Occupied private dwellings by housing indicators - 25% sample data',
       'Total - Owner and tenant households with household total income greater than zero and shelter-cost-to-income ratio less than 100%, in non-farm, non-reserve private dwellings - 25% sample data',
       'Total - Owner households in non-farm, non-reserve private dwellings - 25% sample data',
       'Total - Tenant households in non-farm, non-reserve private dwellings - 25% sample data',
       'Total - Households living in a dwelling provided by the local government, First Nation or Indian band in non-farm private dwellings - 25% sample data',
       'Total - Indigenous ancestry for the population in private households - 25% sample data',
       'Total - Citizenship for the population in private households - 25% sample data',
       'Total - Immigrant status and period of immigration for the population in private households - 25% sample data',
       'Total - Age at immigration for the immigrant population in private households - 25% sample data',
       'Total - Place of birth for the immigrant population in private households - 25% sample data',
       'Total - Place of birth for the recent immigrant population in private households - 25% sample data',
       'Total - Generation status for the population in private households - 25% sample data',
       'Total - Admission category and applicant type for the immigrant population in private households who were admitted between 1980 and 2021 - 25% sample data',
       'Total - Pre-admission experience for the immigrant population in private households who were admitted between 1980 and 2021 - 25% sample data',
       'Total - Visible minority for the population in private households - 25% sample data',
       'Total - Ethnic or cultural origin for the population in private households - 25% sample data',
       'Total - Religion for the population in private households - 25% sample data',
       'Total - Mobility status 1 year ago - 25% sample data',
       'Total - Mobility status 5 years ago - 25% sample data',
       'Total - Secondary (high) school diploma or equivalency certificate for the population aged 15 years and over in private households - 25% sample data',
       'Total - Secondary (high) school diploma or equivalency certificate for the population aged 25 to 64 years in private households - 25% sample data',
       'Total - Highest certificate, diploma or degree for the population aged 15 years and over in private households - 25% sample data',
       'Total - Highest certificate, diploma or degree for the population aged 25 to 64 years in private households - 25% sample data',
       'Total - Major field of study - Classification of Instructional Programs (CIP) 2021 for the population aged 15 years and over in private households - 25% sample data',
       'Total - Major field of study - Classification of Instructional Programs (CIP) 2021 for the population aged 25 to 64 years in private households - 25% sample data',
       'Total - Location of study compared with province or territory of residence for the population aged 25 to 64 years in private households - 25% sample data',
       'Total - Population aged 15 years and over by labour force status - 25% sample data',
       'Participation rate', 'Employment rate', 'Unemployment rate',
       'Total - Population aged 15 years and over by work activity during the reference year - 25% sample data',
       'Total - Labour force aged 15 years and over by class of worker including job permanency - 25% sample data',
       'Total - Labour force aged 15 years and over by occupation - Broad category - National Occupational Classification (NOC) 2021 - 25% sample data',
       'Total - Labour force aged 15 years and over by industry - Sectors - North American Industry Classification System (NAICS) 2017 - 25% sample data',
       'Total - All languages used at work for the population in private households aged 15 years and over who worked since January 1, 2020 - 25% sample data',
       'Total - Language used most often at work for the population aged 15 years and over who worked since January 1, 2020, in private households, 2021 Census - 25% sample data',
       'Total - Other language(s) used regularly at work for the population in private households aged 15 years and over who worked since January 1, 2020 - 25% sample data',
       'Total - Place of work status for the employed labour force aged 15 years and over - 25% sample data',
       'Total - Commuting destination for the employed labour force aged 15 years and over with a usual place of work - 25% sample data',
       'Total - Main mode of commuting for the employed labour force aged 15 years and over with a usual place of work or no fixed workplace address - 25% sample data',
       'Total - Commuting duration for the employed labour force aged 15 years and over with a usual place of work or no fixed workplace address - 25% sample data',
       'Total - Time leaving for work for the employed labour force aged 15 years and over with a usual place of work or no fixed workplace address - 25% sample data',
       'Total - Eligibility for instruction in the minority official language for the population in private households born in 2003 or later - 100% data',
       'Total - Eligibility and instruction in the minority official language, for the population in private households born between 2003 and 2015 (inclusive) - 100% data'],
      dtype=object)

In [50]:
vis_minority_level = df_census[df_census['Lvl-0']=='Total - Visible minority for the population in private households - 25% sample data']
pivot_vis_minority = vis_minority_level.pivot_table(
    index=['ALT_GEO_CODE', 'GEO_NAME'],
    columns='Lvl-1',
    values=['C1_COUNT_TOTAL', 'C2_COUNT_MEN+', 'C3_COUNT_WOMEN+']
)
pivot_vis_minority.shape

(1089, 6)

In [49]:
def create_pivot_table(df, filter_condition):
    # Filter the DataFrame based on the condition
    filtered_df = df[df['Lvl-0'] == filter_condition]

    # Create the pivot table
    pivot_table = filtered_df.pivot_table(
        index=['ALT_GEO_CODE', 'GEO_NAME'],
        columns='Lvl-1',
        values=['C1_COUNT_TOTAL', 'C2_COUNT_MEN+', 'C3_COUNT_WOMEN+']
    )

    return pivot_table

# usage:
pivot_vis_minority = create_pivot_table(df_census, 'Total - Visible minority for the population in private households - 25% sample data')
pivot_vis_minority.shape

(1089, 6)

In [48]:
pivot_indigen = create_pivot_table(df_census, 'Total - Indigenous ancestry for the population in private households - 25% sample data')
pivot_indigen.shape

(1089, 9)

In [32]:
pivot_citiz = create_pivot_table(df_census, 'Total - Citizenship for the population in private households - 25% sample data')
pivot_citiz.sample(5)

                                                                   C1_COUNT_TOTAL  \
Lvl-1                                                           Canadian citizens
ALT_GEO_CODE GEO_NAME
4802012      Lethbridge, City (CY)                                   59708.333333
640          Thompson                                                 7798.333333
1315012      Beresford, Parish (P)                                    4033.333333
575          North Bay                                               45931.666667
5933044      Thompson-Nicola P (Rivers and the Peaks), Regio...       2661.666667

                                                                                       \
Lvl-1                                                           Not Canadian citizens
ALT_GEO_CODE GEO_NAME
4802012      Lethbridge, City (CY)                                             6710.0
640          Thompson                                                          1185.0
1315012      Beresford, Parish (P)                                               35.0
575          North Bay                                                         1280.0
5933044      Thompson-Nicola P (Rivers and the Peaks), Regio...                  80.0

                                                                    C2_COUNT_MEN+  \
Lvl-1                                                           Canadian citizens
ALT_GEO_CODE GEO_NAME
4802012      Lethbridge, City (CY)                                   29485.000000
640          Thompson                                                 3913.333333
1315012      Beresford, Parish (P)                                    2086.666667
575          North Bay                                               22488.333333
5933044      Thompson-Nicola P (Rivers and the Peaks), Regio...       1370.000000

                                                                                       \
Lvl-1                                                           Not Canadian citizens
ALT_GEO_CODE GEO_NAME
4802012      Lethbridge, City (CY)                                             3235.0
640          Thompson                                                           605.0
1315012      Beresford, Parish (P)                                               15.0
575          North Bay                                                          655.0
5933044      Thompson-Nicola P (Rivers and the Peaks), Regio...                  35.0

                                                                  C3_COUNT_WOMEN+  \
Lvl-1                                                           Canadian citizens
ALT_GEO_CODE GEO_NAME
4802012      Lethbridge, City (CY)                                   30221.666667
640          Thompson                                                 3888.333333
1315012      Beresford, Parish (P)                                    1948.333333
575          North Bay                                               23443.333333
5933044      Thompson-Nicola P (Rivers and the Peaks), Regio...       1293.333333


Lvl-1                                                           Not Canadian citizens
ALT_GEO_CODE GEO_NAME
4802012      Lethbridge, City (CY)                                             3470.0
640          Thompson                                                           580.0
1315012      Beresford, Parish (P)                                               15.0
575          North Bay                                                          625.0
5933044      Thompson-Nicola P (Rivers and the Peaks), Regio...                  45.0

In [47]:
pivot_immmig = create_pivot_table(df_census, 'Total - Immigrant status and period of immigration for the population in private households - 25% sample data')
pivot_immmig.shape

(986, 9)

In [46]:
pivot_immmigage = create_pivot_table(df_census, 'Total - Age at immigration for the immigrant population in private households - 25% sample data')
pivot_immmigage.shape

(1089, 15)

In [44]:
pivot_immmigplaceofbirth = create_pivot_table(df_census, 'Total - Place of birth for the immigrant population in private households - 25% sample data')
pivot_immmigplaceofbirth.shape

(986, 15)

In [43]:
pivot_immmigethnic = create_pivot_table(df_census, 'Total - Ethnic or cultural origin for the population in private households - 25% sample data')
pivot_immmigethnic.shape

(1089, 750)

In [82]:
# Assuming these are your DataFrames
dataframes = [
    pivot_vis_minority,
    pivot_indigen,
    pivot_citiz,
    pivot_immmig,
    pivot_immmigage,
    pivot_immmigplaceofbirth
]

# Merge DataFrames iteratively
merged_df = dataframes[0]
for df in dataframes[1:]:
    merged_df = merged_df.merge(df, on=["GEO_NAME"], how="outer")  # Using outer join for completeness

In [83]:
merged_df

                                                    C1_COUNT_TOTAL  \
Lvl-1                                       Not a visible minority
GEO_NAME
St. John's                                                196270.0
Grand Falls-Windsor                                        13220.0
Gander                                                     12760.0
Corner Brook                                               28335.0
Charlottetown                                              66325.0
...                                                            ...
Ibex Valley, Hamlet (HAM)                                    650.0
Marsh Lake, Unorganized (NO)                                 735.0
Macpherson-Grizzly Valley, Unorganized (NO)                 1480.0
Whitehorse, Unorganized, Unorganized (NO)                    300.0
Yellowknife, City (CY)                                     15920.0

                                                                               \
Lvl-1                                       Total visible minority population
GEO_NAME
St. John's                                                        1930.769231
Grand Falls-Windsor                                                 58.076923
Gander                                                              48.846154
Corner Brook                                                        96.538462
Charlottetown                                                     1701.923077
...                                                                       ...
Ibex Valley, Hamlet (HAM)                                            0.000000
Marsh Lake, Unorganized (NO)                                         0.000000
Macpherson-Grizzly Valley, Unorganized (NO)                          6.153846
Whitehorse, Unorganized, Unorganized (NO)                            0.000000
Yellowknife, City (CY)                                             613.076923

                                                     C2_COUNT_MEN+  \
Lvl-1                                       Not a visible minority
GEO_NAME
St. John's                                                 94950.0
Grand Falls-Windsor                                         6355.0
Gander                                                      6245.0
Corner Brook                                               13695.0
Charlottetown                                              31810.0
...                                                            ...
Ibex Valley, Hamlet (HAM)                                    345.0
Marsh Lake, Unorganized (NO)                                 405.0
Macpherson-Grizzly Valley, Unorganized (NO)                  745.0
Whitehorse, Unorganized, Unorganized (NO)                    160.0
Yellowknife, City (CY)                                      7945.0

                                                                               \
Lvl-1                                       Total visible minority population
GEO_NAME
St. John's                                                        1018.461538
Grand Falls-Windsor                                                 28.076923
Gander                                                              26.923077
Corner Brook                                                        56.538462
Charlottetown                                                      905.000000
...                                                                       ...
Ibex Valley, Hamlet (HAM)                                            0.000000
Marsh Lake, Unorganized (NO)                                         0.000000
Macpherson-Grizzly Valley, Unorganized (NO)                          2.307692
Whitehorse, Unorganized, Unorganized (NO)                            0.000000
Yellowknife, City (CY)                                             298.461538

                                                   C3_COUNT_WOMEN+  \
Lvl-1                                       Not a visible minority
GEO_NAME
St. John's                                                101320.0
Grand Falls-Windsor                                         6865.0
Gander                                                      6515.0
Corner Brook                                               14645.0
Charlottetown                                              34510.0
...                                                            ...
Ibex Valley, Hamlet (HAM)                                    305.0
Marsh Lake, Unorganized (NO)                                 325.0
Macpherson-Grizzly Valley, Unorganized (NO)                  730.0
Whitehorse, Unorganized, Unorganized (NO)                    140.0
Yellowknife, City (CY)                                      7970.0

                                                                               \
Lvl-1                                       Total visible minority population
GEO_NAME
St. John's                                                         911.153846
Grand Falls-Windsor                                                 28.076923
Gander                                                              20.769231
Corner Brook                                                        39.615385
Charlottetown                                                      795.769231
...                                                                       ...
Ibex Valley, Hamlet (HAM)                                            0.000000
Marsh Lake, Unorganized (NO)                                         0.000000
Macpherson-Grizzly Valley, Unorganized (NO)                          3.076923
Whitehorse, Unorganized, Unorganized (NO)                            0.000000
Yellowknife, City (CY)                                             315.384615

                                                        C1_COUNT_TOTAL  \
Lvl-1                                       Indigenous ancestry (only)
GEO_NAME
St. John's                                                      1027.5
Grand Falls-Windsor                                              155.0
Gander                                                           216.5
Corner Brook                                                    1485.5
Charlottetown                                                    217.5
...                                                                ...
Ibex Valley, Hamlet (HAM)                                         38.5
Marsh Lake, Unorganized (NO)                                       6.0
Macpherson-Grizzly Valley, Unorganized (NO)                       23.0
Whitehorse, Unorganized, Unorganized (NO)                          0.0
Yellowknife, City (CY)                                           879.0

                                                                                      \
Lvl-1                                       Indigenous and non-Indigenous ancestries
GEO_NAME
St. John's                                                                    2335.0
Grand Falls-Windsor                                                            182.5
Gander                                                                         216.0
Corner Brook                                                                  1240.0
Charlottetown                                                                  510.5
...                                                                              ...
Ibex Valley, Hamlet (HAM)                                                       44.0
Marsh Lake, Unorganized (NO)                                                     4.5
Macpherson-Grizzly Valley, Unorganized (NO)                                     40.0
Whitehorse, Unorganized, Unorganized (NO)                                        5.5
Yellowknife, City (CY)                                                         608.0

                                                                          \
Lvl-1                                       Non-Indigenous ancestry only
GEO_NAME
St. John's                                                      197615.0
Grand Falls-Windsor                                              12475.0
Gander                                                           11630.0
Corner Brook                                                     19885.0
Charlottetown                                                    74955.0
...                                                                  ...
Ibex Valley, Hamlet (HAM)                                          375.0
Marsh Lake, Unorganized (NO)                                       705.0
Macpherson-Grizzly Valley, Unorganized (NO)                       1300.0
Whitehorse, Unorganized, Unorganized (NO)                          275.0
Yellowknife, City (CY)                                           14950.0

                                                         C2_COUNT_MEN+  ...  \
Lvl-1                                       Indigenous ancestry (only)  ...
GEO_NAME                                                                ...
St. John's                                                       470.0  ...
Grand Falls-Windsor                                               83.0  ...
Gander                                                           100.0  ...
Corner Brook                                                     703.0  ...
Charlottetown                                                    110.0  ...
...                                                                ...  ...
Ibex Valley, Hamlet (HAM)                                         26.0  ...
Marsh Lake, Unorganized (NO)                                       6.0  ...
Macpherson-Grizzly Valley, Unorganized (NO)                        8.5  ...
Whitehorse, Unorganized, Unorganized (NO)                          0.0  ...
Yellowknife, City (CY)                                           387.5  ...

                                                                     \
Lvl-1                                            Africa    Americas
GEO_NAME
St. John's                                   150.000000  115.833333
Grand Falls-Windsor                            0.909091    1.666667
Gander                                         6.818182    2.500000
Corner Brook                                   5.000000    7.916667
Charlottetown                                 38.181818   91.666667
...                                                 ...         ...
Ibex Valley, Hamlet (HAM)                      0.000000    0.000000
Marsh Lake, Unorganized (NO)                   0.000000    1.666667
Macpherson-Grizzly Valley, Unorganized (NO)    0.000000    0.000000
Whitehorse, Unorganized, Unorganized (NO)      0.000000    0.000000
Yellowknife, City (CY)                        66.818182   15.833333

                                                                     \
Lvl-1                                              Asia      Europe
GEO_NAME
St. John's                                   204.444444  176.176471
Grand Falls-Windsor                            4.444444    4.411765
Gander                                         5.833333    5.000000
Corner Brook                                  13.333333   14.705882
Charlottetown                                273.055556  107.941176
...                                                 ...         ...
Ibex Valley, Hamlet (HAM)                      0.000000    2.647059
Marsh Lake, Unorganized (NO)                   0.000000    1.470588
Macpherson-Grizzly Valley, Unorganized (NO)    0.000000    7.352941
Whitehorse, Unorganized, Unorganized (NO)      0.000000    4.117647
Yellowknife, City (CY)                        91.388889   34.705882

                                                                               \
Lvl-1                                       Oceania and other places of birth
GEO_NAME
St. John's                                                               30.0
Grand Falls-Windsor                                                       0.0
Gander                                                                    0.0
Corner Brook                                                              0.0
Charlottetown                                                            30.0
...                                                                       ...
Ibex Valley, Hamlet (HAM)                                                 0.0
Marsh Lake, Unorganized (NO)                                              0.0
Macpherson-Grizzly Valley, Unorganized (NO)                               0.0
Whitehorse, Unorganized, Unorganized (NO)                                 0.0
Yellowknife, City (CY)                                                   15.0

                                            C3_COUNT_WOMEN+              \
Lvl-1                                                Africa    Americas
GEO_NAME
St. John's                                       126.363636  130.833333
Grand Falls-Windsor                                0.000000    2.083333
Gander                                             1.363636    2.083333
Corner Brook                                       5.000000    6.250000
Charlottetown                                     37.727273   96.250000
...                                                     ...         ...
Ibex Valley, Hamlet (HAM)                          0.000000    1.666667
Marsh Lake, Unorganized (NO)                       0.000000    0.000000
Macpherson-Grizzly Valley, Unorganized (NO)        0.000000    0.000000
Whitehorse, Unorganized, Unorganized (NO)          0.000000    0.000000
Yellowknife, City (CY)                            47.727273   22.083333

                                                                     \
Lvl-1                                              Asia      Europe
GEO_NAME
St. John's                                   220.833333  128.823529
Grand Falls-Windsor                            8.611111    3.529412
Gander                                         7.777778    2.647059
Corner Brook                                  11.666667   13.529412
Charlottetown                                268.055556  115.294118
...                                                 ...         ...
Ibex Valley, Hamlet (HAM)                      0.000000    0.588235
Marsh Lake, Unorganized (NO)                   0.000000    2.352941
Macpherson-Grizzly Valley, Unorganized (NO)    0.833333   11.176471
Whitehorse, Unorganized, Unorganized (NO)      0.000000    3.235294
Yellowknife, City (CY)                       106.111111   27.058824


Lvl-1                                       Oceania and other places of birth
GEO_NAME
St. John's                                                               50.0
Grand Falls-Windsor                                                       0.0
Gander                                                                    0.0
Corner Brook                                                              0.0
Charlottetown                                                            25.0
...                                                                       ...
Ibex Valley, Hamlet (HAM)                                                 0.0
Marsh Lake, Unorganized (NO)                                              0.0
Macpherson-Grizzly Valley, Unorganized (NO)                               0.0
Whitehorse, Unorganized, Unorganized (NO)                                 0.0
Yellowknife, City (CY)                                                   30.0

[1213 rows x 60 columns]

In [79]:
# Read a portion of the file to detect encoding
with open('98-401-X2021003_Geo_starting_row.CSV', 'rb') as file:
    result = chardet.detect(file.read(10000))
try:
    geo_data = pd.read_csv('98-401-X2021003_Geo_starting_row.CSV', encoding='utf-8')
except UnicodeDecodeError:
    geo_data = pd.read_csv('98-401-X2021003_Geo_starting_row.CSV', encoding='latin-1')
# Rename the index to 'GEO_NAME'
geo_data_with_index = geo_data.set_index('Geo Name')
geo_data_with_index = geo_data_with_index.rename_axis('GEO_NAME')

In [81]:
geo_data_with_index

                              Geo Code  Line Number
GEO_NAME
Abbotsford - Mission      2021S0503932            2
Abbotsford            2021A00055909052         2633
Langley 2             2021A00055909856         5264
Matsqui Main 2        2021A00055909878         7895
Mission               2021A00055909056        10526
...                                ...          ...
Orkney No. 244        2021A00054709011      3036176
Rhein                 2021A00054709009      3038807
Springside            2021A00054709016      3041438
Wallace No. 243       2021A00054709006      3044069
Yorkton               2021A00054709012      3046700

[1159 rows x 2 columns]

In [86]:
print(merged_df.columns)  # List all columns in merged_df

MultiIndex([( 'C1_COUNT_TOTAL',                   'Not a visible minority'),
            ( 'C1_COUNT_TOTAL',        'Total visible minority population'),
            (  'C2_COUNT_MEN+',                   'Not a visible minority'),
            (  'C2_COUNT_MEN+',        'Total visible minority population'),
            ('C3_COUNT_WOMEN+',                   'Not a visible minority'),
            ('C3_COUNT_WOMEN+',        'Total visible minority population'),
            ( 'C1_COUNT_TOTAL',               'Indigenous ancestry (only)'),
            ( 'C1_COUNT_TOTAL', 'Indigenous and non-Indigenous ancestries'),
            ( 'C1_COUNT_TOTAL',             'Non-Indigenous ancestry only'),
            (  'C2_COUNT_MEN+',               'Indigenous ancestry (only)'),
            (  'C2_COUNT_MEN+', 'Indigenous and non-Indigenous ancestries'),
            (  'C2_COUNT_MEN+',             'Non-Indigenous ancestry only'),
            ('C3_COUNT_WOMEN+',               'Indigenous ancestry (only)'),
            ('C3_COUNT_WOMEN+', 'Indigenous and non-Indigenous ancestries'),
            ('C3_COUNT_WOMEN+',             'Non-Indigenous ancestry only'),
            ( 'C1_COUNT_TOTAL',                        'Canadian citizens'),
            ( 'C1_COUNT_TOTAL',                    'Not Canadian citizens'),
            (  'C2_COUNT_MEN+',                        'Canadian citizens'),
            (  'C2_COUNT_MEN+',                    'Not Canadian citizens'),
            ('C3_COUNT_WOMEN+',                        'Canadian citizens'),
            ('C3_COUNT_WOMEN+',                    'Not Canadian citizens'),
            ( 'C1_COUNT_TOTAL',                               'Immigrants'),
            ( 'C1_COUNT_TOTAL',                           'Non-immigrants'),
            ( 'C1_COUNT_TOTAL',                  'Non-permanent residents'),
            (  'C2_COUNT_MEN+',                               'Immigrants'),
            (  'C2_COUNT_MEN+',                           'Non-immigrants'),
            (  'C2_COUNT_MEN+',                  'Non-permanent residents'),
            ('C3_COUNT_WOMEN+',                               'Immigrants'),
            ('C3_COUNT_WOMEN+',                           'Non-immigrants'),
            ('C3_COUNT_WOMEN+',                  'Non-permanent residents'),
            ( 'C1_COUNT_TOTAL',                           '15 to 24 years'),
            ( 'C1_COUNT_TOTAL',                           '25 to 44 years'),
            ( 'C1_COUNT_TOTAL',                        '45 years and over'),
            ( 'C1_COUNT_TOTAL',                            '5 to 14 years'),
            ( 'C1_COUNT_TOTAL',                            'Under 5 years'),
            (  'C2_COUNT_MEN+',                           '15 to 24 years'),
            (  'C2_COUNT_MEN+',                           '25 to 44 years'),
            (  'C2_COUNT_MEN+',                        '45 years and over'),
            (  'C2_COUNT_MEN+',                            '5 to 14 years'),
            (  'C2_COUNT_MEN+',                            'Under 5 years'),
            ('C3_COUNT_WOMEN+',                           '15 to 24 years'),
            ('C3_COUNT_WOMEN+',                           '25 to 44 years'),
            ('C3_COUNT_WOMEN+',                        '45 years and over'),
            ('C3_COUNT_WOMEN+',                            '5 to 14 years'),
            ('C3_COUNT_WOMEN+',                            'Under 5 years'),
            ( 'C1_COUNT_TOTAL',                                   'Africa'),
            ( 'C1_COUNT_TOTAL',                                 'Americas'),
            ( 'C1_COUNT_TOTAL',                                     'Asia'),
            ( 'C1_COUNT_TOTAL',                                   'Europe'),
            ( 'C1_COUNT_TOTAL',        'Oceania and other places of birth'),
            (  'C2_COUNT_MEN+',                                   'Africa'),
            (  'C2_COUNT_MEN+',                                 'Americas'),
            (  'C2_COUNT_MEN+',                                     'Asia'),
            (  'C2_COUNT_MEN+',                                   'Europe'),
            (  'C2_COUNT_MEN+',        'Oceania and other places of birth'),
            ('C3_COUNT_WOMEN+',                                   'Africa'),
            ('C3_COUNT_WOMEN+',                                 'Americas'),
            ('C3_COUNT_WOMEN+',                                     'Asia'),
            ('C3_COUNT_WOMEN+',                                   'Europe'),
            ('C3_COUNT_WOMEN+',        'Oceania and other places of birth')],
           names=[None, 'Lvl-1'])

In [87]:
print(geo_data_with_index.index.name)  # Check the name of the index

GEO_NAME